* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
.allProducts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
}
.product{
    text-align: center;
    background-color: white;
    display: block;
    width: 300px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px;
}
.product img{
    height: 100px;
    object-fit: contain;
    width: 100%;
}
.product h2{
    font-size: 20px;
    margin-top: 25px;
}
.home{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home h1{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 400;
}
button{
    padding: 13px 25px;
    background-color: lightseagreen;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}