* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
body{
    padding: 20px;
    background-color: black;
}
.user-card{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}
button{
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
}