* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: white;
}

.navbar-logo h1{
    font-size: 20px;
    font-weight: 500;
}

.navbar-menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-menu{
    cursor: pointer;
}

.book-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    background-color: #0b1c2d;
    color: white;
    cursor: pointer;
}

.arrow{
    font-size: 14px;
}

.hero{
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-bg{
    height: 100%;
    min-width: 80vw;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    border-radius: 20px;
}

.hero-content{
    max-width: 500px;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    margin-bottom: 130px;
}

.hero-content h1{
    font-size: 30px;
    font-weight: 400;
}

.hero-content p{
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
}

.hero-content button{
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding: 8px 10px;
    margin-top: 10px;
}
.hero::after {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.about {
  max-width: 1100px;
  margin: 80px auto;
  padding: 0 40px;

  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.about-left {
  flex: 1;
}

.about-right {
  flex: 2;
}

.about-tag {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
  background: #f1f1f1;
  font-size: 15px;
  font-weight: 400;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

.features{
    max-width: 1100px;
    margin: 80px auto;
    padding: 0 40px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.feature-card img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: #f8f9fb;
  object-fit: cover;
}

.feature-card button{
    background-color: transparent;
    color: white;
    bottom:30%;
    left: 50%;
    border: none;
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 16px;
    background: rgba(210, 204, 204, 0.5);
    transform: translateX(-50%);
    position: absolute;
    cursor: pointer;
}

.stats {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 40px;
  text-align: center;
  margin-bottom: 100px;
}

.stats-title {
  font-size: 20px;
  font-weight:400;
  color: #666;
  margin-bottom:30px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.stat h2 {
  font-size: 32px;
  font-weight: 500;
}

.stat p {
  font-size: 18px;
  color: #777;
  margin-top: 8px;
}

.services {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  gap: 40px;
}

.services-tag {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 14px;
  border-radius: 20px;
  background: #f1f1f1;
  display: inline-block;
  margin-bottom: 20px;
}

.services-left h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
}

.services-btn {
  background: #0b1c2d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
}

.upper{
    font-size: 16px;
    margin-left: 5px;
}

.services-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.service-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.service-text {
  position: absolute;
  top: 16px;
  left: 16px;

  background: rgba(181, 170, 170, 0.477);
  color: white;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.service-texts{
    max-width:200px ;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    font-size: 18px;
    font-weight: 450;
    opacity: 1;
}


