* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
}

button{
  color: white;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-weight: 500;
}
button:active{
  scale: 0.97;
}