* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
     overflow: hidden;
}
body{
    height: 100%;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 70px;
}

.book-link {
    margin-left: auto;
    padding: 8px 16px;
    color: black;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.book-logo{
    width: 20px;
}
.hero-container {
    margin-bottom: 150px;
}

.hero h1 {
    font-size: 120px;
    font-weight: 300;
}

.hero-subtitle {
    margin-top: 10px;
    color: #555;
}

.stats {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.stat h2 {
    font-size: 28px;
    font-weight: 400;
}

.stat p {
    font-size: 14px;
    color: #666;
}

.hero-image img {
    width: 100%;
    height: 100%;
    max-height: 460px;
    object-fit: cover;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 150px;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
}
