* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
     height: 100%;
     width: 100%;
     background-color: black;
}

form{
    padding: 20px;
    background-color: #333;
    display: flex;
    gap: 10px;
}
input,button{
    padding: 5px 10px;
}